@model IEnumerable<LeaveTrackerWeb.Models.ApplicationUser>
@{
    ViewBag.Title = "EmployeeDetails";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').DataTable({
            columnDefs: [{ orderable: false, "targets": [-1, -2] }]
        });

        $('i[data-update=Yes]').click(function () {
            var id = $(this).attr('data-id');
            $.ajax({
                url: '@Url.Action("EmployeeDetailsPartial", "Account")',
                data: { EmpID: id /* add other additional parameters */ },
                cache: false,
                type: "Get",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    $('#ContentBody').empty();
                    $('#ContentBody').html(data);
                }
            });
        });

        $('i[data-delete=Yes]').click(function () {
            debugger;
            var id = $(this).attr('data-id');
            $('#hdfAccountDelId').val(id);
        });

        var message = '@ViewBag.message';

        if (message != null && message != "") {
            ShowMessage(message, 'success');
        }
    });
</script>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Employee List</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Employee Id</th>
                        <th> Name </th>
                        <th> Phone No </th>
                        <th> Email id </th>
                        <th> Project Name </th>
                        <th> Edit </th>
                        <th> Delete </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var Emp in Model)
                    {
                        <tr>
                            <td>
                                @Html.Label((string.IsNullOrEmpty(Emp.EmployeeNo) ? "" : Emp.EmployeeNo))
                                @Html.Hidden("Emp_" + Emp.Id, Emp.Id, new { @id = "hdf_" + Emp.Id })
                            </td>
                            <td>
                                @Html.Label((string.IsNullOrEmpty(Emp.FirstName) ? "" : Emp.FirstName) + " "+ (string.IsNullOrEmpty(Emp.LastName) ? "" : Emp.LastName))
                            </td>
                            <td>
                                @Html.Label((string.IsNullOrEmpty(Emp.PhoneNumber) ? "" : Emp.PhoneNumber))
                            </td>
                            <td>
                                <a href="mailto: @Emp.Email"> @Emp.Email</a>
                            </td>
                            <td>
                                @Html.Label((string.IsNullOrEmpty(Emp.ProjectName) ? "" : Emp.ProjectName))
                            </td>
                            <td width="15%">
                                <i class="fa fa-pencil-square-o" data-Id="@Emp.Id" data-update="Yes" data-toggle="modal" data-target="#OpenEmpModal"></i>
                            </td>
                            <td width="15%">
                                <i class="fa fa-trash-o" data-Id="@Emp.Id" data-delete="Yes" data-toggle="modal" data-target="#OpenDeleteModal"></i>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
        </div>
    </div>
</div>


<!-- Show the cropped image in modal -->
<div class="modal fade docs-cropped" id="OpenEmpModal" aria-hidden="true" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="getCroppedCanvasTitle">Employee Details</h4>
            </div>
            <div class="modal-body" id="ContentBody">
                @{
                    Html.RenderAction("EmployeeDetailsPartial", "Account");
                }
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a class="btn btn-primary" id="download" href="javascript:void(0);" download="cropped.png">Download</a>
                </div>*@
        </div>
    </div>
</div><!-- /.modal -->
<!-- Show the cropped image in modal -->
<div class="modal fade docs-cropped" id="OpenDeleteModal" aria-hidden="true" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="getCroppedCanvasTitle">Employee Details</h4>
            </div>
            <div class="modal-body" id="ContentBody">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3"></label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        @Html.Label("Are you sure want to delete Employee?")
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input name="action" type="button" id="btnClear" value="No" class="btn btn-default pull-right" data-dismiss="modal" aria-label="Close" />
                @using (Html.BeginForm("DeleteEmployee", "Account", FormMethod.Post))
                {
                    <input type="hidden" name="AccountDelId" id="hdfAccountDelId" />
                    <input name="action" type="submit" id="btnDeleteProject" value="Yes" class="btn btn-success pull-right" />
                }
            </div>
        </div>
    </div>
</div><!-- /.modal -->



